            <footer class="container text-center">
                <p>
                    &copy; 2024 Cap Nation
                    <a href="#">
                        CGV
                    </a>
                    &middot;
                    <a href="#">
                        CGU
                    </a>
                </p>
            </footer>